:root {
  font-family: Georgia, "Times", "Times New Roman", serif;
  line-height: 1.5;

  color-scheme: light dark;
  --color: #e2dbca;
  --background-color: #332819;
  --contrast-color: #ca5875;
  --lightest-color: #fffde9;
  --darkest-color: #20170b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@keyframes wiggle {
  /* src = https://chat.brace.tools/s/94c7e2c4-16e2-485a-9217-1d21444fb27e */
  0% {
    transform: translateY(0em) rotate(0deg) skew(2deg, 1deg) scale(1);
  }
  25% {
    transform: translateY(0.02em) rotate(2deg) scale(1.02);
  }
  50% {
    transform: translateY(0em) rotate(0deg) skew(-2deg, -1deg) scale(1.03);
  }
  75% {
    transform: translateY(0.02em) rotate(-2deg) scale(1.02);
  }
  100% {
    transform: translateY(0em) rotate(0deg) skew(2deg, 1deg);
  }
}

a {
  font-weight: 500;
  color: var(--contrast-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--contrast-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: var(--color);
  background-color: var(--background-color);
  /* src = https://chat.brace.tools/s/8853a456-7a09-4cf9-8368-49602184c0e4 */
  user-select: none; /* Standard property */
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  transition: ease;
  animation: wiggle 1s infinite;
}

h2 {
  font-size: 6em;
  margin: 0.3em;
  transition: transform 0.5s ease;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--darkest-color);
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 0.2em;
}
button:hover {
  border-color: var(--contrast-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--background-color);
    background-color: var(--color);
  }
  a:hover {
    color: var--contrast-color;
  }
  button {
    background-color: var(--lightest-color);
  }
}
